annotated-types==0.6.0
anyio==4.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs==23.2.0
blinker==1.7.0
certifi==2024.2.2
chardet==4.0.0
click==8.1.7
comm @ file:///croot/comm_1709322850197/work
dataclasses==0.6
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deprecation==2.1.0
distro==1.9.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
Flask==3.0.2
flask-marshmallow==1.2.0
Flask-SQLAlchemy==3.1.1
gotrue==0.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==2.10
iniconfig==2.0.0
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1704833016303/work
itsdangerous==2.1.2
jedi @ file:///work/perseverance-python-buildout/croot/jedi_1698864582475/work
Jinja2==3.1.3
jupyter_client @ file:///work/perseverance-python-buildout/croot/jupyter_client_1701731788627/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1701731747496/work
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
numpy==1.26.4
openai==1.14.1
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
pandas==2.2.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy==1.4.0
postgrest-py==0.4.0
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py==1.11.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pytest==6.2.5
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.1
pytz==2024.1
pyzmq @ file:///croot/pyzmq_1705605076900/work
realtime-py==0.1.3
requests==2.25.1
rfc3986==1.5.0
setuptools==68.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.1
SQLAlchemy==2.0.28
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.36.3
toml==0.10.2
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
tqdm==4.66.2
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1698846387632/work
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websockets==9.1
Werkzeug==3.0.1
wheel==0.41.2
